body {
  background-color: white;
}

h1 {
  font-family: Helvetica;
  color: black;
  font-size: 60px;
}

p {
  font-family: Helvetica;
  font-size: 20px;
}

nav {
  font-family: Helvetica;
  float: right;
}

nav a {
  font-family: Helvetica;
  display: block;
  padding: 10px;
  background-color: #C8E4DB;
}

nav a:hover {
  font-family: Helvetica;
  font-style: italic;
  background-color: #BBD4CC;
}
