body {
  background-color: white;
  margin: 80px;
}

h1 {
  font-family: Helvetica;
  color: black;
  font-size: 60px;
  margin: 15px 200px 15px 200px;
}

p {
  font-family: Helvetica;
  font-size: 20px;
  margin: 15px 200px 15px 200px;
}

nav {
  font-family: Helvetica;
  float: right;
}

nav a {
  font-family: Helvetica;
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  background-color: #C8E4DB;
  border-radius: 20px;
}

nav a:hover {
  font-family: Helvetica;
  font-style: italic;
  color: black;
  text-decoration: none;
  background-color: #BBD4CC;
  border-radius: 20px;
}
