body {
  background-color: white;
}

h1 {
  font-family: Helvetica;
  color: black;
  font-size: 60px;
}

p {
  font-family: Helvetica;
  font-size: 20px;
}

nav {
  float: right;
}

a {
  display: block;
  padding: 10px;
  background-color: lightblue;
}
